*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #64b0ee;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}